* {
    box-sizing: border-box;
}

/*Desktop version*/ 
@media (min-width: 992px) {

}
/*Tablet version*/
@media (min-width: 768px) and (max-width: 991px) {

}
/*Mobile version*/
@media (max-width: 767px) {

}

#title {
    text-align: center;
    margin-bottom: 10px;
}

#container {
    width: 50%;
    height: auto;
    background-color: lightgray;
    float: left;
    margin: 10px;
    border: 1px solid black;
    position: relative;
    padding-top: 21px;
    padding-right: 2px;
    padding-left: 2px;
}

#block {
    top: 0px;
    right: 0px;
    position: absolute;
    background-color: yellow;
    margin: 0px;
}

p {
    width: auto;
    height: 20px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    text-align: center;
    padding: 2px;
}

.row {
    width: 100%;
}